<head><link href="/static/css/nouislider.css" rel="stylesheet" type="text/css">
</head>
<script src="/static/js/nouislider.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{#if minYear}}

{{/if}}
{{#each results}}
        <div class="col s11">
          <strong>{{this.namefirst}} {{this.namelast}}</strong>

          <br>

        </div>
        <div class="col s1">
          Average homers for year range: {{this.avghomer}}
          <br>
          Position: {{this.pos}}
        </div>

      {{/each}}

<br><br>
  <form action="/submit" method="POST">
      		<div class="example">
      			<div id="html5"></div>
      			<select id="input-select" name="min_slider"></select>
            <select id="input-select-max" name="max_slider"></select>
  <button type="submit">Submit</button>
</form>
    <script>
    var select = document.getElementById('input-select');
    var select_max = document.getElementById('input-select-max');

    // Append the option elements
    for ( var i = 1871; i <= 2016; i++ ){

    	var option = document.createElement("option");
    		option.text = i;
    		option.value = i;

      var option2 = document.createElement("option");
    		option2.text = i;
    		option2.value = i;

    	select.appendChild(option);
      select_max.appendChild(option2);
    }
    </script>
    <script>
    var html5Slider = document.getElementById('html5');

    noUiSlider.create(html5Slider, {
    	start: [ 1871, 2016 ],
    	connect: true,
    	range: {
    		'min': 1871,
    		'max': 2016
    	}
    });
    </script>
    <script>
    var inputNumber = document.getElementById('input-select-max');

    html5Slider.noUiSlider.on('update', function( values, handle ) {

    	var value = values[handle];

    	if ( handle ) {
    		inputNumber.value = Math.round(value);
    	} else {
    		select.value = Math.round(value);
    	}
    });

    select.addEventListener('change', function(){
    	html5Slider.noUiSlider.set([this.value, null]);
    });

    inputNumber.addEventListener('change', function(){
    	html5Slider.noUiSlider.set([null, this.value]);
    });
    </script>
